<!DOCTYPE html>
<html lang="en">
<head>
    <title>Brain Navigator | Roy G. BIV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script src="js/libs/three.min.js"></script>
    <script src="js/libs/Projector.js"></script>
    <script src="js/libs/Detector.js"></script>
    <script src="js/libs/TrackballControls.js"></script>
    <script src="js/libs/VTKLoader.js"></script>
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/d3.min.js"></script>
    <script src="js/libs/box.js"></script>
    <script src="js/libs/sprintf.js"></script>
    <script src="js/libs/angular.min.js"></script>

    <script src="js/brain.utils.js"></script>
    <script src="js/brain.js"></script>
    <script src="js/poster.js"></script>
    <style>
        .brain-container {
            width: 590px;
            height: 450px;
            margin: 0px;
        }
    </style>
</head>

<body ng-app="navigator" ng-strict-di ng-controller="NavigateController">
    <div id="header-n-label">
        <div id="nav-title">
            Thickness PCA loadings
            <br/>
            (Shift+click to select a brain area.)
        </div>
        <div id="nav-info">
            PCA component: {{ metadata.component }}
            <span ng-if="mesh">
                <br/>{{ mesh.value | number: 3 }} loading
                <br/>ROI={{ mesh.name }}
            </span>
        </div>
    </div>
    <div class="brain-container">
        <div id="master-brain" class="brain">
        </div>
        <div id="selector">
            <div>
                <span class="selection-label">Component:</span><br/>
                <input ng-model='metadata.component' type="radio" name="surf_type" value="0"></input><span>0</span>
<input ng-model='metadata.component' type="radio" name="surf_type" value="1"></input><span>1</span>
                <input ng-model='metadata.component' type="radio" name="surf_type" value="2"></input><span>2</span>
                <input ng-model='metadata.component' type="radio" name="surf_type" value="3"></input><span>3</span>
                <input ng-model='metadata.component' type="radio" name="surf_type" value="4"></input><span>4</span>
            </div>
        </div>
    </div>

    <script>
        function build_data_url(base_url, metadata) {
            return base_url + '/' + metadata.subject + '/'
                            + metadata.atlas + '/'
                            + metadata.prefix + '_PC' + metadata.component + '.json';
        }

        var app = angular.module('navigator', []);
        app.controller('NavigateController', ['$scope', function($scope) {
            // Object bound to the form. We "watch" this object below.
            $scope.metadata = {
                subject: 'fsaverage',
                atlas: 'desikan',
                surf_type: 'inflated',
                prefix: 'MRI_cort_thick.ctx.',
                measure: 'thickness',
                component: 0
            };
            $scope.manifest_url = build_manifest_url('data', $scope.metadata);
            $scope.data_url = build_data_url('data', $scope.metadata);

            // Create the right hemi brain
            $scope.stats_brain = new Brain({
                divID: "master-brain",
                manifest_url: $scope.manifest_url,
                data_url: $scope.data_url,
                value_key: 'pc'
            });
            $scope.stats_brain.objectPick = function(mesh)  {
                if (!mesh)
                    return;
                console.log('pca', mesh.value)
                $scope.mesh = mesh;
                $scope.$apply()
            };

            // Use the relatively new watchCollection().
            $scope.$watchCollection("metadata", function( newValue, oldValue ) {
                $scope.metadata.prefix = measure2prefix(newValue.measure, newValue.atlas);
                $scope.manifest_url = build_manifest_url('data', newValue);
                $scope.data_url = build_data_url('data', newValue);
                $scope.stats_brain.loadBrain({
                    manifest_url: $scope.manifest_url,
                    data_url: $scope.data_url
                });

            });
        }]);
    </script>
</body>
</html>
