<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ben Cipollini">
    <title>SfN 2015: Cipollini &amp; Cottrell</title>

    <!-- common -->
    <link href='styles/libs/jquery-ui.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="scripts/libs/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="scripts/libs/jquery-ui.js"></script>

    <!-- create poster events ASAP -->
    <link href='styles/stuff.css' rel='stylesheet' type='text/css'>
    <link href='styles/poster5.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="scripts/poster-elements.js"></script>

    <!-- roygbiv -->
    <!--link rel="stylesheet" type="text/css" href="/brain/css/style.css" /-->
    <style>
        #header_n_label, #right-header {
            float: left;
            left: 0px;
            margin: auto;
            text-align: center;
        }

        #nav_label {
            background-color:#000;
            opacity:0.5;
            padding:10px;
            text-align:left;
            color:white;
            width: 100%;
            overflow: hidden;
        }

        #left-header, #right-header {
            width: 350px;
            height: 150px;
            margin: auto;
            padding: 15px;
        }

        #plot-canvas, #nav-brain, #nav-brain1, #nav-brain2, #nav-brain3,
        #master-brain, #slave-brain {
            margin: 10px;
            padding: 10px;
            width: 400px;
            height: 350px;
            background-color: #333;
            padding: 5px;
            border-radius: 25px;
        }
    </style>
    <script src="../brain/js/libs/three.min.js"></script>
    <script src="../brain/js/libs/Projector.js"></script>
    <script src="../brain/js/libs/Detector.js"></script>
    <script src="../brain/js/libs/TrackballControls.js"></script>
    <script src="../brain/js/libs/VTKLoader.js"></script>
    <!--script src="js/libs/jquery.min.js"></script-->
    <script src="../brain/js/libs/sprintf.js"></script>
    <script src="../brain/js/libs/angular.min.js"></script>

    <script src="../brain/js/brain.utils.js"></script>
    <script src="../brain/js/brain.js"></script>
    <script src="../brain/js/hemi-plotter.js"></script>
    <script src="../brain/js/poster.js"></script>

    <script>
        var value_keys = {master: 'pc', slave: 'mean'};

        function build_pca_data_url(base_url, metadata) {
            return base_url + '/' + metadata.subject + '/'
                            + metadata.atlas + '/'
                            + metadata.prefix + '_similarity.json';
        }
        $(function() {
            $('#section3').on('click', function() { setTimeout(function() {
                $scope = window.my_scope;
                if ($scope.pca_plotter !== undefined)
                    return;

                // Create the right hemi brain
                $scope.pca_plotter = new HemiPlotter({
                    divIDs: ["master-brain", "slave-brain"],
                    manifest_url: $scope.manifest_url,
                    data_url: $scope.pca_data_url,
                    value_keys: value_keys || null,
                    callback: function(mesh) {
                        // Show the mesh info
                        $scope.mesh = mesh;
                        $scope.$apply();
                    }
                });

                // Use the relatively new watchCollection().
                $scope.$watchCollection("metadata", function( newValue, oldValue ) {
                    $scope.metadata.prefix = measure2prefix(newValue.measure, newValue.atlas);

                    manifest_url = build_manifest_url('../brain/data', $scope.metadata);
                    data_url = build_pca_data_url('../brain/data', $scope.metadata);
                    if (manifest_url != $scope.manifest_url) {
                        $scope.manifest_url = manifest_url;
                        if (data_url != $scope.pca_data_url)
                            $scope.pca_data_url = data_url;
                        $scope.pca_plotter.loadBrains({
                            manifest_url: $scope.manifest_url,
                            data_url: $scope.pca_data_url
                        });
                    }
                });
            })});
        });
    </script>

    <script>
        $(function() {
            $('#section2').on('click', function() { setTimeout(function() {
                $scope = window.my_scope;
                if ($scope.stats_brain !== undefined)
                    return;

                // Create the right hemi brain
                $scope.stats_brain = new Brain({
                    divID: "plot-canvas",
                    manifest_url: $scope.manifest_url.replace('thickness', 'area').replace('thick', 'area'),
                    callback: function(mesh) {
                        $scope.mesh = mesh;
                        $scope.$apply();
                        click_partner_function($scope.nav_brain)(mesh);
                    }
                });

                // Create the "brain" for navigation
                $scope.nav_brain = new Brain({
                    divID: "nav-brain",
                    manifest_url: $scope.manifest_url,
                    callback: function(mesh) {
                        $scope.mesh = mesh;
                        $scope.$apply();
                        click_partner_function($scope.stats_brain)(mesh);
                    }
                });

                // Use the relatively new watchCollection().
                $scope.$watchCollection("metadata", function( newValue, oldValue ) {
                    console.log('b')
                    $scope.metadata.prefix = measure2prefix(newValue.measure, newValue.atlas);
                    $scope.manifest_url = build_manifest_url('../brain/data', newValue);
                });
                $scope.$watch('manifest_url', function(newValue, oldValue) {
                    console.log('a')
                    // Update the brains
                    if ($scope.nav_brain)
                        $scope.nav_brain.loadBrain({manifest_url: newValue});
                    if ($scope.stats_brain)
                        $scope.stats_brain.loadBrain({manifest_url: newValue.replace('thickness', 'area').replace('thick', 'area')});
                });
            }, 25)});
        });
    </script>

    <!-- gwas -->

    <!-- Le styles -->
    <!--link href="/gwas/css/libs/bootstrap.css" rel="stylesheet">
    <link href="/gwas/css/libs/bootstrap-responsive.css" rel="stylesheet"-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="../gwas/css/libs/jquery-ui.css" rel="stylesheet" type="text/css">
    <style>
        #some_id {
            width: 100%;
            background-color: black;
            x-display: none;
        }
        #chart_some_id {
            width:100%;
        }
        #selector {
            padding: 10px 0px 0px 0px;
        }
        .selector, .selector-type {
            width: 700px;
        }
        #selector span {
            width: 200px;
            float: left;
        }
        #selector.selection-label{
            width: 75px;
            font-family: arial;
            float:left;
        }
        #selector input {
            margin: 3px 10px 0px 10px;
            float: left;
        }
        .subsection {
            margin-bottom: 500px;
            width: 100%;
        }

        iframe {
            border: 0;
            overflow: hidden;
            width: 625px;
            height: 700px;
            float: left;
        }
    </style>
    <!--link href="/gwas/css/manhattan.css" rel="stylesheet" type="text/css"-->

    <!--script src="/gwas/js/libs/jquery.min.js"></script-->
    <!--script src="js/libs/jquery-ui.min.js"></script-->
    <script src="../gwas/js/libs/highcharts.js"></script>
    <script src="../gwas/js/libs/drilldown.js"></script>
    <script src="../gwas/js/manhattan.js"></script>
    <script>
        function show_gwas() {
            if (window.mhp !== undefined)
                return;

            window.mhp = new ManhattanPlot({
                gwas_url: '../gwas/data/GWAS_MRI_cort_area_ctx_frontalpole_AI__Age_At_IMGExam.json',
                chrom_url: '../gwas/data/chrom_locs.json',
                snps_url: '../gwas/data/snps_all.json',
                divID: 'chart_some_id',
                title: 'GWAS on frontal pole cortical surface area asymmetry',
                subtitle: 'hit on STK31'
            });
        }
        $(function() {
            $('#section4').on('click', show_gwas);
        });
    </script>

    <!-- main poster -->
    <script type="text/javascript" src="scripts/poster-event-bindings.js"></script>
</head>
<body ng-app="navigator" ng-strict-di ng-controller="NavigateController">
<div id="poster">

    <!-- title bar -->
    <div class="poster-title"
        data-logo="images/logo.png"
        data-qrcode="images/qrcode-2015.png"
        data-title="Exploring the anatomy and genetics of cortical asymmetries in surface area and thickness"
        data-authors="Ben Cipollini<sup>1</sup>, Hauke Bartsch<sup>2</sup>, Garrison Cottrell<sup>1</sup>"
        data-affiliations="<sup>1</sup>UC San Diego, Department of Computer Science; <sup>2</sup>Department of Radiology"
        data-author-affiliations="1,2,1">
    </div>

    <div id="section-summary-left" class="section-buttons section-buttons-expanded">

        <!-- box 1: the concept -->
        <div class="section section-summary"
            data-number="1"
            data-title="Cortical asymmetries: multivariate analysis"
            data-short-blurb="
                <ul>
                    <li><a href='#'>Used the <a href='http://pingstudy.ucsd.edu/'>PING</a> dataset; cross-sectional data, N=1400, ages 3-20</a></li>
                    <li><a href='#'>We analyzed surface area &amp; thickness</a></li>
                    <li><a href='#'><b>Asymmetry index:<br/>(LH - RH)/(LH + RH)</b></a></li>
                    <li><a href='#'><i>Goal: look for relationships amongst asymmetries.</i></a></li>
                </ul>"
            data-blurb="
                <div style='width: 100%; float: left; position: relative; top: -5px;'>
                    <p>
                    The left and right hemispheres of the human brain differ in critically
                    human functions, such as fine motor skill and language. Relationships
                    between functional asymmetries have been explored (e.g. handedness and
                    language), but generally not for anatomical asymmetries.
                    </p>
                    <p>
                        We used the <a href='http://pingstudy.ucsd.edu/'>PING</a> dataset (cross-sectional data,<br/> N=1400, ages 3-20) to analyze cortical<br/> surface area&amp; thickness asymmetries.
                    </ul>
                </div>
                <div style='position: relative; left: 510px; top: -120px;'>
                    <a href='http://pingstudy.ucsd.edu/'>
                        <img width=250 src='images/pingstudy.png'></img>
                    </a>
                </div>">
            <div class="content-pane" style="">

                <div class='subsection'><a name="an"></a>
                    <div class='content'>
                        <p>
                        </p>
                    </div>
                </div>

                <div class='subsection'><a name="bon"></a>
                    <div class='content'>
                        <p>
                        </p>
                    </div>
                </div>

                <div class='subsection'><a name="con"></a>
                    <div class='content'>
                        <p>
                        </p>
                    </div>
                </div>


            </div>
        </div>

        <!-- box 2: UNIVARIATE -->
        <div class="section section-summary"
            data-number="2"
            data-title="Univariate results"
            data-blurb="
                <ul>
                    <li><a href='#typical-asymmetry'>We found typical asymmetries.</a></li>
                    <li><a href='#few-differences'>Few differences over developmental, gender, handedness.</a></li>
                    <li><a href='#larger-asymmetries'>Larger asymmetries are more variable, from smaller areas.</a></li>
                    <li><a href='#no-cross-correlation'>No relationship in asymmetries of surface area and thickness.</a></li>
                </ul>
            ">
            <div class="content-pane">
                <style>
                    #right-container, #left-container,
                    div.label {
                        width: 45%;
                        margin: 0px auto 0px auto;
                    }
                    #plot-canvas, #nav-brain {
                        width: 500px;
                    }

                    div.content {
                        width: 100%;
                    }
                </style>

                <div class='subsection'><a name="typical-asymmetry"></a>
                    <div class='content'>
                        <p>
                            We found typical asymmetries, such as:
                            <ul>
                                <li>Right frontal pole</li>
                                <li>Left Broca's area &amp; transverse temporal</li>
                                <li>Left Broca's area &amp; transverse temporal</li>
                            </ul>
                        </p>
                    </div>
                    <div id="right-container">
                        <div id="right-header">
                                {{ mesh.name }}
                                <br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ mesh.value * 100 | number: 2 }}% asymmetric
                                <br/>
                                <span style="color: red; font-weight: bold">Red: LH dominant</span><br/>
                                <span style="color: blue; font-weight: bold">Blue: RH dominant</span>
                        </div>
                        <div class='label'>Surface Area</div>
                        <div id="plot-canvas" class="brain">
                        </div>
                    </div>
                    <div id="left-container">
                        <div id="left-header">
                        </div>
                        <div class='label'>Thickness</div>
                        <div id="nav-brain" class="brain">
                        </div>
                    </div>

                    <script>
                        var app = angular.module('navigator', []);
                        app.controller('NavigateController', ['$scope', function($scope) {
                            // Object bound to the form. We "watch" this object below.
                            $scope.metadata = {
                                subject: 'fsaverage',
                                atlas: 'desikan',
                                surf_type: 'inflated',
                                prefix: 'MRI_cort_thick.ctx.',
                                measure: 'thickness'
                            };
                            $scope.manifest_url = build_manifest_url('../brain/data', $scope.metadata);

                            window.my_scope = $scope;
                        }]);
                    </script>
                </div><!-- subsection -->

                <div class='subsection'><a name="few-differences"></a>
                    <div class='content'>
                        <p>
                        regression plots go here. click on a brain and get a plot.
                        </p>
                    </div>
                </div>

                <div class='subsection'><a name="larger-asymmetries"></a>
                    <div class='content'>
                        <p>
                            scatter of
                        </p>
                        <iframe ng-src='../plots/MRI_cort_area.ctx._AI:mean-_AI:std-_LH_PLUS_RH:mean-scatter.html'>
                        </iframe>
                        <iframe ng-src='../plots/MRI_cort_thick.ctx._AI:mean-_AI:std-_LH_PLUS_RH:mean-scatter.html'>
                        </iframe>
                    </div>
                </div>

                <div class='subsection'><a name="no-cross-correlation"></a>
                    <div class='content'>
                        <p>
                        <iframe ng-src='../plots/MRI_cort_area.ctx.:_AI:mean-MRI_cort_thick.ctx.:_AI:mean-nosz-scatter.html' >
                        </iframe>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="main-content" class="main-content main-content-collapsed">
    </div>

    <div id="section-summary-right" class="section-buttons section-buttons-expanded">

        <!-- BOX 3: MULTIVARIATE -->
        <div class="section section-summary"
            data-number="3"
            data-title="Multivariate results"
            data-blurb="
                <ul>
                    <li><a href='#partial-correlation'>Partial correlation shows mostly local covariance.</a></li>
                    <li><a href='#pca-not-a-lot'>PCA suggests few relationships between asymmetries.</a></li>
                    <li><a href='#pca-fontal-pole'>PCA suggests that frontal pole stands out alone.</a></li>
                </ul>">
            <div class="content-pane" style="width: 100%; float: left;">

                <div class='subsection'><a name="partial-correlation"></a>
                    <div>
                        <div class='label'>Navigator</div>
                        <div id="master-brain">
                        </div>
                    </div>
                    <div>
                        <div class='label'>Partial correlation Map</div>
                        <div id="slave-brain">
                        </div>
                    </div>
                </div>


                <div class='subsection'><a name="pca-ont-a-lot"></a>
                    <div class='content'>
                        <p>
                        </p>
                    </div>
                </div>


                <div class='subsection'><a name="pca-frontal-pole"></a>
                    <div class='content'>
                        <p>
                        </p>
                    </div>
                </div>


            </div>
        </div>

        <!-- BOX 4: GENETICS -->
        <div class="section section-summary"
            data-number="4"
            data-title="Genetic results"
            data-blurb="
                <ul>
                    <li><a href='#stk31-gwas'>Genetic 'hit' for frontal pole surface area</a></li>
                    <li><a href='#stk31-gwas'>STK31 explains 3% variance.</a></li>
                    <li><a href='#stk31-gwas'>Also hit on PC0 (STK31).</a></li>
                    <li><a href='#stk31-gwas'>No genetic hits on others tested.</a></li>
                </ul>
            ">
            <div class="content-pane" style="position: relative;">
                <div class='subsection'><a name="stk31-gwas"></a>
                    <div id="some_id" style="width:1250px">
                        N: 1000, List of covariates: Age
                        <div class="manhattan" id="chart_some_id">
                        </div>
                    </div>

                    <div class='content'>
                        <p>
                        Serine Threonine Kinase 31
                        <ul>
                            <li><a href='http://www.ncbi.nlm.nih.gov/gene/56164'>NIH</a> - "shows testis-specific expression"</li>
                        </ul>
                        <ul>
                            <li><a href='http://mouse.brain-map.org/experiment/show/70302282'>Allen: mouse </a></li>
                            <li><a href='http://human.brain-map.org/microarray/search/show?exact_match=false&search_term=stk31&search_type=gene'>Allen human brain</a></li>
                            <li><a href='http://www.brainspan.org/rnaseq/searches?exact_match=false&search_term=stk31&search_type=gene'>Allen developing human brain</a> - active 16 pcw - 10 months.</li>
                            <li><a href='http://www.blueprintnhpatlas.org/macrodissection/search/show?exact_match=false&search_term=stk31&search_type=gene'> - active "0 years" in NHP</a></li>
                        </ul>
                        </p>
                    </div>
                </div>

                <div class='subsection'><a name="x"></a>
                    <div class='content'>
                    </div>
                </div>


                <div class='subsection'><a name="y"></a>
                    <div class='content'>
                        <p>
                        </p>
                    </div>
                </div>


                <div class='subsection'><a name="z"></a>
                    <div class='content'>
                        <p>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- footer -->
    <div id="poster-footer">
        <div style="width:60%; height: 100%; float: left;">
            <div style="float: left; margin-right: 25px; height: 100%; left: -50px">References:</div>
            <div style="font-size: 18px; position: relative; top: -20px; left: 10px;">
                <ul>
                    <li>Jernigan, T. L., et al. "The Pediatric Imaging, Neurocognition, and Genetics (PING) Data Repository." NeuroImage (2015).</li>
                    <li>Van Essen, David C., et al. "Parcellations and hemispheric asymmetries of human cerebral cortex analyzed on surface-based atlases." Cerebral cortex 22.10 (2012): 2241-2262.</li>
                    <li>Kang, Xiaojian, et al. "Hemispheric asymmetries in cortical and subcortical anatomy." Laterality: Asymmetries of Body, Brain and Cognition ahead-of-print (2015): 1-27.</li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div id='selector-container' style="width:40%; float: left;">
            <div id="selector">
                <div class='selector-type'>
                    <span class="selection-label">Surface:</span>
                    <input ng-model='metadata.surf_type' type="radio" name="surf_type" value="pial"></input><span>Pial</span>
                    <input ng-model='metadata.surf_type' type="radio" name="surf_type" value="inflated" {% if $scope.mesh %}checked{% endif %}><span>Inflated</span>
                </div>
                <div class='selector-type'>
                    <span class="selection-label">Atlas:</span>
                    <input ng-model='metadata.atlas' type="radio" name="atlas" value="desikan"></input>
                    <span class='input-label'>Desikan (36 ROIs)</span>

                    <input ng-model='metadata.atlas' type="radio" name="atlas" value="destrieux"></input>
                    <span class='input-label'>Destrieux (76 ROIs)</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>